
html, body {
	font-family: 'Tajawal', sans-serif;
	height: 100%;
	width: 100%;
}

h1 {
	text-align: center;
}

hr {
	margin-bottom: 0;
	border: 1px solid lightgrey;
}

a {
	text-decoration: none;
	color: black;
}

i {
	font-size: 24px;
}

.bg {

}


#my-pic {
	border-radius: 50%;
	max-height: 250px;
	align-self: center;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

}

#flex-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 225px;
	height: 40vh;

}

#flex-buttons {
	text-align: center;
}

.projects {
	background-color: #fafafa;
	justify-content: space-around;
	padding-left: 250px;
	padding-right: 250px;
	height: 100%;
}

.project-title {
	text-align: center;
}

.thumbnail {
	max-width: 300px;
	width: 100%;
	height: auto;
	transition: .5s ease;
  	backface-visibility: hidden;
  	opacity: 1;
}

.thumbnail-hover {
  transition: .5s ease;
  opacity: 0;
  text-align: center;
  position: absolute;
  top: 75px;
  left: 110px;
  font-size: 32px;

}

.container {
	position: relative;
}

.container:hover .thumbnail {
  opacity: 0.3;
}

.container:hover .thumbnail-hover {
  opacity: 1;
}

@media (min-width: 1600px) {
	.projects {
		padding-left: 400px;
		padding-right: 400px;
	}
}

@media (max-width: 800px) {
	.thumbnail {
		width: 400px;
	}
}






